.landing {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;

    &_img {
        width: 100%;
        height: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            background: no-repeat scroll center;
            background-position: center;
            z-index: -1;
        }
    }

    &_info {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & h1,p { max-width: 45%; }
            
        & h1 {
            font-size: 70px;
            font-weight: 800;
            line-height: 1;
            padding-bottom: 30px;
        }

        & p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7;
            padding-bottom: 30px;
        }
    }
}

// ------------Media Query
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .landing {
        &_info {
            & h1,p { max-width: 55%; }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .landing {
        &_info {
            & h1,p { max-width: 75%; }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    .landing {
        &_info {
            & h1,p { max-width: 100%; }
        }
    }
}

@media only screen and (max-width: 600px) {
    .landing {
        height: 1000px;
        &_img {
            height: 400px;
            background: none;
            & img { height: 400px;}
        }
        &_info {
            position: static;
            top: 0;
            transform: translate(0);
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 20px;
            overflow: hidden;

            & h1,p { max-width: 95%; }
            & h1 { font-size: 50px; }
            & p { font-size: 20px; }
        }
    }
}